




#eeecon-col1 {
	float: left;
	overflow: hidden;
	padding-top: 10px;
	width: 24.99%
}



#eeecon-container {
	background: url(images/background-plain.gif) repeat-y 18% 0
}

#eeecon-container2 {
	background: url(images/background-top.gif) no-repeat 18% 0;
	padding: 20px 0
}

#eeecon-container2 ul.menu {
	background: url(images/menu-dots.gif) repeat-x top;
	list-style: none;
	margin: 0;
	padding: 1px 0 0
}

#eeecon-container2 ul.menu li {
	background: none !important;
	margin: 0 !important;
	padding: 0 !important
}

#eeecon-container2 ul.menu li a {
	background: url(images/menu-dots.gif) repeat-x bottom;
	color: #333333;
	display: block;
	outline: none;
	padding: 2px 0;
	text-decoration: none
}



#eeecon-container2 ul.menu li a:active {
	background: url(images/menu-dots.gif) repeat-x bottom #DDDDDD;
	color: #333333;
	text-decoration: none
}

#eeecon-container2 ul.menu li a:focus {
	background: url(images/menu-dots.gif) repeat-x bottom #DDDDDD;
	color: #333333;
	text-decoration: none
}

#eeecon-container2 ul.menu li a:hover {
	background: url(images/menu-dots.gif) repeat-x bottom #DDDDDD;
	color: #333333;
	text-decoration: none
}

#eeecon-container2 ul.menu li li {
	list-style: none;
	padding: 0 0 0 15px !important
}

#eeecon-container2 ul.menu li li a {
	background: none !important;
	color: #333333;
	font-size: 92%;
	font-weight: normal
}

#eeecon-container2 ul.menu li a span {
	background: url(images/menu-bullet.gif) no-repeat 5px 5px;
	padding-left: 16px;
}


#eeecon-container2 ul.menu li li a:active {
	color: #006699
}

#eeecon-container2 ul.menu li li a:focus {
	color: #006699
}

#eeecon-container2 ul.menu li li a:hover {
	color: #006699
}

#eeecon-container2 ul.menu li ul {
	list-style: none;
	margin: 0;
	padding: 0
}

#eeecon-container2 ul.menu li.active a {
	background: url(images/menu-dots.gif) repeat-x bottom #FFFFFF;
	color: #7BA566;
	font-weight: bold;
	text-decoration: none
}





#eeecon-content {
	padding: 0 20px 0 40px
}

#eeecon-contentwrap {
	height: auto;
	min-height: 300px
}



#eeecon-header {
	height: 80px;
	position: relative
}

#eeecon-header a {
	color: #000000
}

#eeecon-headerwrap {
	background: #FFFFFF;
	color: #000000;
	height: 80px;
	line-height: normal
}

#eeecon-mainbody {
	float: left;
	width: 80%
}

#eeecon-mainbody #eeecon-contentwrap {
	float: right;
	width: 75%
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden
}





.eeecon-headermask {
	background: url(images/header-mask.png) no-repeat top right;
	display: block;
	height: 80px;
	position: absolute;
	right: -1px;
	top: 0;
	width: 602px
}




body {
	background: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
	margin: 0;
	padding: 0
}

body#bd {
	background: #FFFFFF;
	color: #333333
}

body.contentpane {
	color: #333;
	font-size: 12px;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	width: auto
}


body.fs3 {
	font-size: 12px
}





h1 {
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	font-size: 180%;
	margin: 1em 0;
	padding: 0
}



h1.logo {
	font-size: 180%;
	margin: 0 0 0 5px;
	padding: 0;
	text-transform: uppercase
}

h1.logo a {
	background: url(images/eeecon-logo.png) no-repeat;
	display: block;
	height: 80px;
	position: relative;
	width: 208px;
	z-index: 100
}

h1.logo a span {
	position: absolute;
	top: -1000px
}

h1.logo-text {
	font-size: 180%;
	margin: 0 0 0 5px;
	padding: 0;
	text-transform: uppercase
}

h1.logo-text a {
	bottom: 40px;
	color: #CCCCCC !important;
	left: 5px;
	outline: none;
	position: absolute;
	text-decoration: none
}

h2 {
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	font-size: 150%;
	margin: 1em 0;
	padding: 0
}

h2.contentheading {
	font-weight: normal;
	margin: 0;
	padding: 5px 0 8px
}

h3 {
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	font-size: 125%;
	margin: 1em 0;
	padding: 0
}





h4 {
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin: 1em 0;
	padding: 0;
	text-transform: uppercase
}

h5 {
	margin: 1em 0;
	padding: 0
}

